<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">Balance: <%= balance %></p>
<a href="/users/minus" class="btn btn-secondary">Minus</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
